extends template
block content
  a.btn.btn-default.form-control(href="/categories/new") New category
  ul.list-unstyled
    for category in categories
      li
        a(href="/categories/#{category._id}")=category.name
        if category.desc
          span : #{category.desc}
