extends template
block content
  ul
    for category in categories
      li
        a(href="/categories/#{category._id}")=category.name
        span : #{category.desc}
  a.btn.btn-default(href="/categories/new") New category
